.calendar {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.calendar__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.calendar__weekdays-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 10px;
}

.calendar__weekday {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  color: #755d48;
}

.calendar__grid {
  background-color: #755d48;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 1px solid #755d48;
  border-radius: 12px;
  overflow: hidden;
  gap: 1px;
}

.calendar__day {
  height: 80px;
  background-color: #f5f1e6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__month-selector {
  display: flex;
  align-items: center;
  justify-content: right;
}

.calendar__day--today {
  background-color: #f0ad4e;
  color: white;
}

.calendar__day--selected {
  background-color: blue;
}
